
style1 {
     font-weight: bold;
}
.refreshPage:hover{
    background-color: lightcyan;
    cursor: context-menu;
}
/*========================PORTFOLIO==================*/
.portfolioForm{
    background-color: lightyellow;
}
.portImg{
    margin-top: 0px;
    width: 270px;
    height: 270px;
}
.portHeader{
    margin-top: 0px;
    font-size: 40px;
    font-weight: bolder;
}
.portText1{
    position: relative;
    top: -300px;
    left: -10px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bolder;
}
.subTxt1{
    position: relative;
    left: -190px;
    top: 20px;
    font-size: 15px;
}
.subTxt2{
    position: relative;
    left: -370px;
    top: 40px;
    font-size: 15px;
}
.portText2,.portText3,.portText4,.portText5,.portText6,
.portText7,.portText8,.portText9,.portText10{
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
.portText2{
    top: -380px;
    left: 235px;
}
.portText3{
    top: -399px;
    left: 260px;
}
.portText4{
    top: -415px;
    left: 265px;
}
.portText5{
    top: -432px;
    left: 280px;
}
.portText6{
    top: -449px;
    left: 269px;
}
.portText7{
    top: -467px;
    left: 263px;
}
.portText8{
    top: -485px;
    left: 264px;
}
.portText9{
    top: -504px;
    left: 283px;
}
.portText10{
    top: -522px;
    left: 162px;
}
/*=======================END OF PORTFOLIO======================================*/
input[name=regForm]{
 	width:35%;
	padding: 3px 1px;
	margin: 8px 0;
	border: none;
	box-sizing: border-box;
	border-bottom: 2px solid black;
	background-color: lightpink;
}

input[id=none] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[id=none]:hover {
  background-color: #45a049;
}

div[id=div1] {
	display: flex;
  border-radius: 5px;
  background-color: lightpink;
  padding: 20px;
	box-align: left;
	
}
/*------DOG BLOG START-------------------*/
.DogForm3{
    width: 250px;
    border-radius: 10px;
    background-color: lightpink;
}
/*===================DOG BLOG END==================================*/
/* ------REGISTRATION FORM-------------- */
form[id=frm1]{

	width: 400px;
	text-align:left;
	background-color: cornflowerblue;
}
form[id=frm2]{

	width: 400px;
	text-align:left;
	background-color: cornflowerblue;
}
.section1{
    background-image: url(images/mountains.jpg);
}
/************************ CSS Style Of RESUME ******************************/

fieldset[id=fieldset1] {
  	border-radius: 5px;
  	background-color:cadetblue;
	margin-left: 20px;
	width: 85%;	
}
div[id=div2] {
	width: 70%;
  	border-radius: 5px;
	
}
div[id=div3] {
	float: right;
	width: 30%;

  	border-radius: 5px;
  	background-color:blue;

}
img[id=imgID]{
	float:left;
	height: 150px;
	width: 150px;
	
}
.nameResume{
	font-size: 30px;
}
.resumeF1{
	border: none;
}
.abp{
	padding-left: 30px;
	font-weight: lighter;
}
.fieldEdu1{
	float:left;
	border: none;
	text-align: center;
	font-weight: bold;
}
.fieldEdu2{
	border: none;
	text-align: left;
	font-weight: bold;
}
/*--------------------- TEA SHOP MENU ------------------*/
.TeaShopBody{
	background: #75A6B5;
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.TeaShoptxt{
    text-align:center;
}
h1[txtTeaShop1]{
    font-size: 40px;
    margin:0;
}
h2[txtTeaShop2]{
    font-size: 35px;
}
.top-line,.bottom-line{
    height: 2px;
    background-color: rgba(228, 202, 168, 0.904);
    border-color: rgb(66, 63, 60);
    box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -0px 9px 15px 0px rgba(0,0,0,0.75);
}
.top-line{
    margin-top: 25px;
}
.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}
.tea-menu{
    width: 80%;
    max-width: 500px;
    background-color: rgba(228, 202, 168, 0.404);
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
}

.established{
	text-align:center;
    font-style:italic;
}
.tea-icon{
    display: flex;
    align-items: center; 
    justify-content: center;
	margin: auto 5px;
}

.tea-items p{
    display: inline-block;
    font-weight: 400;
    margin: 5px 0px;
}
.tea-flavor, .collections-flavor{
    width: 75%;
    text-align: left;
}

.tea-price, .collections-price {
    width: 25%;
    text-align: right;
}
footer{
    font-size: 14px;
}
a:link {
    color: black;
}
a:visited{
    color:white;
}
a:hover{
    color: lightgrey;
}
a:active{
    color: yellow;
}

.tblLogin{
	height: 400px;
	width: 300px;
	background-color: cadetblue;
}
.txtUserPass{
	vertical-align: top;

}