body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
.MainSelect{
	width: 100%;
	font-size: 17px;
	border-radius: 10px;
	font-family: Arial;
	border: 6px solid transparent;
	background-blend-mode: soft-light;
}
.MainSelect > option:hover{
	background-color: aqua;
}
/*---------------JAVASCRIPT TEXT MANIPULATION-------------------------*/
p[id=nameRaymond]{
	text-align: center;
	background-color: antiquewhite;
	height: 60px;
}
/*--------HOME BUTTON----------------------------------*/
style1 {
     font-weight: bold;
}
.refreshPage:hover{
    opacity: 1.0;
    background-color: #00ffbf;
    cursor: context-menu;
}
.refreshPage{
   border-radius: 30px;
}
th.refreshPage p{
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}
.stillBlank:hover{
    opacity: 1.0;
    background-color: #00ffbf;
    cursor: context-menu;
}
/*----------------------GRID SYSTEM FORM------------------------------*/
.grid {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'menu main main right right'
      'menu footer footer footer footer'
      'item1 item2 item3 item4 item5';
    gap: 2px;
    background-color: #2196F3;
    padding: 2px;
    width: 600px;
  }
  .grid0,.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid0 { grid-area: header; }
  .grid1 { grid-area: menu; }
  .grid2 { grid-area: main; }
  .grid3 { grid-area: right; }
  .grid4 { grid-area: footer; }
  .grid5 { grid-area: item1; }
  .grid6 { grid-area: item2; }
  .grid7 { grid-area: item3; }
  .grid8 { grid-area: item4; }
  .grid9 { grid-area: item5; }
/*==========END GRID SYSTEM===============*/
/*---------------------------PORTFOLIO---------------------------*/
.portfolioGrid{
    display: grid;
    grid-template-areas: 
    'grid1 grid2 grid3'
    'pLine pLine pLine'
    'bottom1 bottom2 bottom3';
    gap: 0px;
    background-color: lightyellow;
    padding: 100px;
    border-radius: 20px;
}
.portGrid1{
    grid-area: grid1;
}
.portGrid2{
    grid-area: grid2;
}
.portGrid3{
    grid-area: grid3;
}
.portImg{
    width: 270px;
    height: 270px;
}
.portHeader{
    font-size: 40px;
    font-weight: bolder;
}
.portLine1{
    grid-area: pLine;
}
.portBtm1{
    grid-area: bottom1;
}
.portBtm2{
    grid-area: bottom2;
}
/*=======================END OF PORTFOLIO======================================*/
/*-----------DOG BLOG START-----------------------------------------------------*/
.DogForm3{
    width: 250px;
    border-radius: 10px;
    background-color: lightpink;
}
.section1{
    background-image: url(images/mountains.jpg);
}
/*===================DOG BLOG END==================================*/
/* -----------------------REGISTRATION FORM----------------------------------- */
div[id=registrationForm]{
	display: grid;
    grid-template-areas:
	'grid0 grid0'
    'grid1 grid2'
	'grid1 grid2'
	'grid1 grid2'
    'grid3 grid3';
    gap: 50px;
	padding: 50px;
  border-radius: 5px;
  background-color: lightpink;
}
.regHeader{
	grid-area: grid0;
	font-size: 30px;
	font-weight: bold;
}
.frm1{
	grid-area: grid1;
	background-color: cornflowerblue;
	display: grid;
	grid-template-areas:
	'l1 l2'
	'l3 l4'
	'l5 l6';
    gap: 5px;
	padding: 30px;
}
.txtReg1{ 
	grid-area: l1;
	text-align: right;
}
.txtReg2{ 
	grid-area: l3;
	text-align: right;
}
.txtReg3{ 
	grid-area: l5; 
	text-align: right;
}
.txtRegForm1{
	grid-area: l2; 
	height: 15px;
	margin-top: 15px;
}
.txtRegForm2{ 
	grid-area: l4; 
	height: 15px;
	margin-top: 15px;
}
.txtRegForm3{ 
	grid-area: l6; 
	height: 15px;
	margin-top: 15px;
}
.frm2{
	grid-area: grid2;
	background-color: cornflowerblue;
	display: grid;
	grid-template-areas:
	'l1 l2'
	'l3 l4'
	'l5 l6';
    gap: 5px;
	padding: 30px;
}
.regButtons{
	grid-area: grid3;
}
.txtRegForm{
	margin: auto;
}

/************************ CSS Style Of RESUME ******************************/

fieldset[id=resumeForm] {
  	border-radius: 5px;
  	background-color:cadetblue;
	margin-left: 20px;
	width: 700px;	
}
div[id=div2] {
	width: 70%;
  	border-radius: 5px;
	
}
div[id=div3] {
	float: right;
	width: 30%;

  	border-radius: 5px;
  	background-color:blue;

}
img[id=imgID]{
	float:left;
	height: 150px;
	width: 150px;
	
}
.nameResume{
	font-size: 30px;
}
.resumeF1{
	border: none;
}
.abp{
	padding-left: 30px;
	font-weight: lighter;
}
.fieldEdu1{
	float:left;
	border: none;
	text-align: center;
	font-weight: bold;
}
.fieldEdu2{
	border: none;
	text-align: left;
	font-weight: bold;
}
.skillsAbilities{
    display: grid;
    grid-template-areas: 
    'grid1 grid2';
    gap: 10px;
}
.skills1{
    grid-area: grid1;
    text-align: left;
}
.skills2{
    grid-area: grid2;
    text-align: left;
}
.EdutxtField{
	display: grid;
	grid-template-areas:
	'grid0 grid3'
    'grid1 grid4'
	'grid2 grid5';
	gap: 10px;
}
.Edutxt1{
	grid-area: grid0;
	text-align: center;
}
.Edutxt2{
	grid-area: grid1;
	text-align: center;
}
.Edutxt3{
	grid-area: grid2;
	text-align: center;
}
.Edutxt4{
	grid-area: grid3;
	text-align: left;
}
.Edutxt5{
	grid-area: grid4;
	text-align: left;
}
.Edutxt6{
	grid-area: grid5;
	text-align: left;
}
/*============END of RESUME==================================================*/
/*--------------------- TEA SHOP MENU ------------------*/
.TeaShopBody{
	background: #75A6B5;
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.TeaShoptxt{
    text-align:center;
}
h1[txtTeaShop1]{
    font-size: 40px;
    margin:0;
}
h2[txtTeaShop2]{
    font-size: 35px;
}
.top-line,.bottom-line{
    height: 2px;
    background-color: rgba(228, 202, 168, 0.904);
    border-color: rgb(66, 63, 60);
    box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -0px 9px 15px 0px rgba(0,0,0,0.75);
}
.top-line{
    margin-top: 25px;
}
.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}
.tea-menu{
    width: 80%;
    max-width: 500px;
    background-color: rgba(228, 202, 168, 0.404);
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
}

.established{
	text-align:center;
    font-style:italic;
}
.tea-icon{
    display: flex;
    align-items: center; 
    justify-content: center;
	margin: auto 5px;
}

.tea-items p{
    display: inline-block;
    font-weight: 400;
    margin: 5px 0px;
}
.tea-flavor, .collections-flavor{
    width: 75%;
    text-align: left;
}

.tea-price, .collections-price {
    width: 25%;
    text-align: right;
}
footer{
    font-size: 14px;
}
a:link {
    color: black;
}
a:visited{
    color:white;
}
a:hover{
    color: lightgrey;
}
a:active{
    color: yellow;
}
/*------------------LOGIN FORM------------------------------*/
.tblLogin{
	height: 180px;
	width: 320px;
	border: 0;
	border-radius: 10px;
	background-color: cadetblue;
}
.txtUserPass{
	vertical-align: top;

}
/*==================END OF LOGIN FORM====================*/